*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* html{
	font-size: 62.5%;
} */

body{
	width: 100vw;
	min-height: 50vh;
	font-family: sans-serif;
	/* font-size: 2.4rem; */
}

.navbar{
	width: 100%;
	height: 3rem;
	display: flex;
	/* background-color: red; */
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid black;

}

.navbar .navigation{
	/* background-color: #fff; */
	height: 100%;
	display: flex;
	justify-self: flex-end;
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.navbar .navigation li{
	list-style: none;
	padding: 0% 10px;
}

.navbar .navigation li a {
	text-decoration: none;
	font-family: sans-serif;
	color: black;
}

.navbar .navigation li a.special {
	color: red;
	border: 1px solid red;
	padding: 5px;
	border-radius: 10px;
}

.hero{
	width: 100%;
	height: 30rem;
	/* background-color: blue; */
	display: flex;
	border: 1px solid black;
	
}

.hero .leftDescriptionSection{
	background-color: #fff;
	height: 100%;
	width: 50%;
	padding: 30px;
}

.hero .leftDescriptionSection .heading{
	color: #1111ff;
	padding: 20px 20px 20px 0px;
	font-size: 33px;
}

.hero .leftDescriptionSection .text{
	padding-bottom: 30px;
	text-align: justify;
	line-height: 25px;
	word-spacing: 5px;
}
.hero .leftDescriptionSection  .registerButton{
	padding: 10px;
	border: 1px solid #6666ff;
	border-radius: 15px;
	text-decoration: none;
	color: #6666ff;
}


.hero .rightSliderSection{
	/* background-color: blue; */
	width: 50%;
	position: relative;
	padding: 20%;
} 

.hero .rightSliderSection .indicator{
	position: absolute;
	bottom: 40px;
	left: 50%;
	translate: -50% 0;
}

.hero .rightSliderSection img{
	width: 80%;
	aspect-ratio: 300/250;
	position: absolute;
	left: 50%;
	top: 40px;
	translate: -50% 0;
	border-radius: 20px;
}

.hero .rightSliderSection .icon{
	width: 40px;
	height: 40px;
	position: absolute;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50%;
	translate: 0 -50%;
	/* opacity: 0.5; */
	opacity: 0;
	transition: opacity 0.3s linear;
}
.hero .rightSliderSection .icon:hover{
	opacity: 0.8;
}

.hero .rightSliderSection .icon.icon-left{
	/* left: 10px; */
	left: 70px;
}
.hero .rightSliderSection .icon.icon-right{
	right: 70px;
}

.information,
.feedback,
.contact,
.about{
	width: 100%;
	height: 25rem;
	padding: 20px;
	display: flex;
	align-items: center;
	/* justify-content: center; */
	flex-direction: column;
	gap: 10px;
}

.information,
.feedback,
.contact{
	border-bottom: 1px solid black;
}


.information > .heading,
.feedback > .heading,
.about > .heading,
.contact > .heading{
	text-align: center;
	font-size: 28px;
}

.information .searchbar{
	width: 50%;
	height: 2rem;
	/* background-color: red; */
	display: flex;
	gap: 10px;
}

.information .searchbar input[type="text"]{
	height: 100%;
	width: 80%;
}
.information .searchbar input[type="button"]{
	width: 20%;
}
.information .searchbar input{
	border-radius: 10px;
}

.about{
	height: 20rem;
}

.about .real_info{
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.about .real_info .info_box{
	padding-top: 50px;
	display: flex;
	flex-direction: column;
}


.about .real_info .info_box .inner_heading{
	text-align: center;
}
.about footer {
	width: 80%;
	padding-top: 40px;
	/* background-color: blue; */
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 20px;
	/* justify-content: space-between; */
}

.about footer .line{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about footer .copywrite{
	width: 100%;
	text-align: center;
}

.contact .form{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contact .form > input:not([type="submit"]){
	width: 100%;
	height: 30px;

}

.contact .form textarea{
	width: 100%;
	min-height: 150px;
}

.contact .form input[type="submit"]{
	width: 70px;
	align-self: center;
	padding: 5px 10px;
}

.contact .form input,
.contact .form textarea{
	height: 30px;
	border-radius: 10px;
}

.contact .form .middle{
	/* background-color: red; */
	display: flex;
	gap: 20px;
}
.contact .form .middle input{
	width: 50%;
}

.carasoul{
	width: 70%;
	min-height: 200px;
	/* background-color: red; */
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.carasoul > .icon{
	position: absolute;
}

.carasoul .icon.icon-left{left: 0;}
.carasoul .icon.icon-right{right: 0;}

.carasoul .points{
	position: absolute;
	bottom: 0;
	left: 50%;
	translate: -50% 0;
}

.carasoul .items{
	/* background-color: blue; */
	width: 90%;
	height: calc(100% - 50px);
	display: grid;
	grid-template-columns: 3fr 5fr 3fr;
	grid-template-rows: 1fr;
	gap:0 50px ;
	grid-auto-columns: 0;
	grid-auto-rows: 0;
	overflow: hidden;
	align-content: center;
	/* justify-items: center; */
}

.information .carasoul .items .carasoul-item,
.feedback .carasoul .items .carasoul-item{

	/* background-color: red; */
	/* scrollbar-width: 0.7; */
	scale: 0.7;
	padding: 20px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	border: 1px solid blue;
	position: relative;
	/* width: 200px; */
	/* height: 80%; */


}

.information .carasoul .items .carasoul-item .heading,
.feedback .carasoul .items .carasoul-item .heading{

	font-size: 20px;
	font-weight: bolder;
	/* font-family: serif; */
}
.information .carasoul .items .carasoul-item .text{

	position: absolute;
	bottom: 30px;
}

.feedback .carasoul .items .carasoul-item .stars{
	color: gold;
	scale: 0.6;
	width: 110%;
	display: flex;
	justify-content: space-around;
	/* position: absolute; */
}

.feedback .carasoul .items .carasoul-item .img{
	width: 40px;
	height: 35px;
	border-radius: 50%;
	border: 1px solid blue;
}
.feedback .carasoul .items .carasoul-item .text{
	position: absolute;
	bottom: 10px;
}

/* .feedback .carasoul .items .carasoul-item .text{ */

input[type="submit"],
input[type="button"]{
	background-color: transparent;
	border: 1px solid blue;
}

.contact .line{
	width: 100%;
	height: 30px;
	display: grid;
	grid-template-columns: 1fr 200px 1fr;
	/* position: relative; */
	
}

.contact .line .text{
	/* width: 300px; */
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.contact .line .left,
.contact .line .right{
	/* position: absolute; */
	height: 50%;
	border-bottom: 1px dashed black;
	/* display: block; */
}

.contact{
	height: 30rem;
}